
.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: white;
}

.toggleText{
    color:  #34C94B;
    font-family: 'Poppins'; 
    cursor: pointer;
}

.filterWrapper{
    color: white;
    margin-top: 15px;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.cardsWrapper{
    margin-top: 18px;
}